/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: 'Jost';
  src: url('assets/fonts/all/Jost/Jost-VariableFont_wght.ttf')  format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

// @font-face {
//   font-family: 'Jost';
//   src: url('./assets/fonts/Jost/Jost-Italic-VariableFont_wght.ttf') format('truetype');
//   font-weight: 100 900;
//   font-style: italic;
// }



/* Global Scrollbar */

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;
}
