<div class="home text-center  position-relative vh-100">

  <div
    class="content position-absolute top-0 bottom-0 right-0 left-0 d-flex align-item-center justify-content-center flex-column w-100 ">
    <h1>{{ 'home.heroTitle' | translate }}</h1>
    <p>
      {{ 'home.heroDescription' | translate }}
    </p>


    <div class="  d-flex align-item-center justify-content-center ">
      <button>
        <a href="/">
          {{ 'home.shopNow' | translate }}
        </a> </button>
    </div>


  </div>

</div>


<!-- Featured Products -->
<div class="container">
  <div class="featured-products">

    <div class="section-header">
      <h2 class="text-center mb-4">
        {{ 'home.featuredTitle' | translate }}
        <span>{{ 'home.featuredHighlight' | translate }}</span>
      </h2>


    </div>

    <div class="row">


      @for (product of products; track product.id) {
      <div class="col-lg-3  col-md-4 col-sm-6">
        <div class="product-card  mt-3"
         [routerLink]="['/product-details', product.id]"
        >


          <div class="main-badge">
            @if(product.isNew)
            {
            <span class="badge">
              {{ 'home.new' | translate }}
            </span>

            }

            @if(product.discount)
            {
            <span class="badge ">
              {{ product.discount }}%
            </span>
            }

            @if(product.isHot)
            {
            <span class="badge ">
              {{ 'home.hot' | translate }}
            </span>
            }

          </div>

          <div class="image-wrapper">

            <img [src]="product.image" [alt]="product.name">

            <div class="out-stock" *ngIf="product.outOfStock">
              {{ 'home.outOfStock' | translate }}
            </div>

          </div>

          <div class="content">

            <p class="category">
              {{ product.category }}
            </p>

            <h3>
              {{ product.name }}
            </h3>

            <div class="price">

              <span class="old">
                ${{ product.oldPrice }}
              </span>

              <span class="new">
                ${{ product.price }}
              </span>

            </div>

            <div class="rating">
              <span>
                ({{ product.reviewsCount }})
              </span>
              ⭐⭐⭐⭐⭐
            </div>

          </div>

        </div>

      </div>
      }

      <div class="text-center  view-all d-flex align-item-center justify-content-center mt-4">
        <button>
          <a routerLink="/allProduct">

            <span class="px-1"> ← </span>
            {{ 'home.viewAllProducts' | translate }}
          </a>
        </button>
      </div>


    </div>

  </div>
</div>
